<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title></title>
    <style>

        h1, h2, h4 {
            text-align: center;
        }

        h1 {
            margin: 0 auto;
        }

        h2 {
            color: red;
        }

        h4 a {
            text-decoration: none;

        }
    </style>
</head>
<body>
<h1>2333</h1>
<h2>请点击上方菜单查看其他内容！</h2>
<br/>
<h4>QQ群：<a href="https://jq.qq.com/?_wv=1027&k=9kr9mnV4" target="_blank">812057174</a></h4>
<h4>TG群：<a href="https://t.me/Minecraft_GroupCN" target="_blank">@Minecraft_GroupCN</a></h4>
<h4>版本库：<a href="./index2.html" target="main">点我访问</a></h4>

</body>
</html>