<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../css/public.css" rel="stylesheet">

    <title></title>
    <style>
        h1, h2, h4 {
            text-align: center;
        }

        h1 {
            margin: 0 auto;
        }

        h2 {
            color: red;
        }


    </style>
</head>
<body>
<br>
<h1>zihao_il的破站</h1>
<h2>请点击上方菜单查看其他内容！</h2>
<br/>
<h4>QQ群：<a href="https://jq.qq.com/?_wv=1027&k=9kr9mnV4" target="_blank">812057174(禁言)</a></h4>
<h4>TG群：<a href="https://t.me/Minecraft_GroupCN" target="_blank">@Minecraft_GroupCN</a></h4>
<h4>我的版本库：<a href="./MyVersion.html" target="main">点我访问</a></h4>
<script src="../js/cursor.js"></script>

<script></script>
</body>
</html>
